.maincont {
  width: 100vw;
  height: 100vh;
  background-color: rgb(13, 22, 59);
  display: flex;
  justify-content: center;
  align-items: center;
}

.shidadiv {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.shidadiv:hover {
  cursor: pointer;
}

.cubediv {
  width: 30px;
  height: 30px;
  opacity: 40%;
  border-radius: 3px;
  background-color: #3c06c4;
}
